/* Main Styles */
body {
    background-color: #261A0D;
    /* background-image: url(../images/bg.jpg);
    background-size: cover; */
}

header {
    width: 700px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #261A0D;
    
    font-family: 'Cochin', monospace;
    color: #F44A52;
    font-size: 20px;
    text-align: left;
}

main {
    width: 700px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    background-color: #402626;
}

footer {
    width: 700px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 0 auto;
    background-color: #2F1D30;
    text-align: center;
}

#container {
    background-color: #261A0D;
    opacity: 1;
    border-radius: 10px;
}
#container header, main, footer {
    box-shadow: -3px 0px 5px 3px rgba(0,0,0,0.3);
}

/* Main Styles END */

/* Text Styles */
p, li, a { 
    font-family: 'Gil Sans', sans-serif;
    color: #D66857;
    font-size: smaller;
}
nav {
    border: solid 1px #602020;
    background-color: #301D1D;
}

ul {
    padding: 0;
    margin: 10px auto 10px 0;  
}

li {
    color: aqua;
	display: inline;
	width: 150px;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
}


h1 {
    font-family: fantasy;
    font-size: 36px;
    color: darkgray;
    text-align: left;
    margin: 75px 0 20px 30px;
}

a {
    color: pink;
    text-decoration: none;
}
/* Text Styles END */

/* Image Styles */
#intro-image {
    text-align: center;
}


#intro-image img {
    width: 500px;
    border-radius: 5px;
}

#intro-image #skull {
    width: 500px;
    border-radius: 50%;
    opacity: .5;

}
/* Image Styles END */

/* Anchor Pseudo Classes */
a:link {
    color: pink;
}

a:visited {
    color: fuchsia;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: yellow;
}
/* Anchor Pseudo Classes END */


